@page "/const"
@using Microsoft.AspNetCore.Components.Sections

@{
    const string foo = "bar";
}

<CascadingValue Value="@(1)">
    <button @onclick="@(() => Task.CompletedTask)">Click</button>
    @foo
</CascadingValue>

<SectionContent SectionName="test">
    <TestComponent OnClick="@(() => Task.CompletedTask)" />
</SectionContent>